<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小羊News</title>
    <link rel="icon" href="images/icon.svg">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style_main.css">
    <link rel="stylesheet" href="stylesheets/article.css">
</head>


<body>

<div class="header">
    <div class="header-top"></div>
    <div class="header-logo"><img src="images/logo2.png" alt="logo"></div>
</div>
<br><br><br><br>
<div class="background">
    <div class="article">
        <h3 style="line-height:2em;letter-spacing:2px"><%= content[0].title %></h3>
        <br>
        <p class="left"><%= new Date(content[0].publish_date).toISOString().substring(0, 10) %> &nbsp;&nbsp;&nbsp;&nbsp;
            来源：<%= content[0].source_name %> &nbsp;&nbsp;&nbsp;&nbsp;
            作者： <%= content[0].author %> &nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <a class="right" href="<%= content[0].url %>">查看原文</a>
        <br><br><br><br>
        <h4 class="center">摘要</h4>
        <p><%= content[0].summary %></p>
        <br><br>
        <h4 class="center">正文</h4>
        <p><%= content[0].content %></p>
        <br>
        <br>
        <br>
    </div>
</div>

<div class="footer"></div>

</body>
</html>