<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>小羊News</title>
    <link rel="icon" href="images/icon.svg">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1500px;height:700px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'), 'light');

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '时间热度分析'
        },
        tooltip: {},
        legend: {
            data: ['热度']
        },
        xAxis: {
            data: [<%= X %>]
        },
        yAxis: {},
        series: [{
            name: '热度',
            type: 'bar',
            data: [<%= Y %>]
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>