<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>小羊News</title>
    <link rel="icon" href="images/icon.svg">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1500px;height:700px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'), 'light');
    $.get("/get_data?column=<%= column %>&search=<%= search %>", function (data) {
        myChart.setOption({
            title: {
                text: '时间热度分析'
            },
            legend: {
                orient: 'vertical',
                left: 'right',
                data: JSON.parse(data).name
            },
            series: [
                {
                    name: '热度分析',
                    type: 'pie',
                    radius: '55%',
                    roseType: 'angle',
                    data: JSON.parse(data)
                }
            ]
        })
    });
</script>
</body>
</html>